html
body
    h1 IoT Control Panel
    .form
        label 2
            input(type="checkbox", value="2")
        label 3
            input(type="checkbox", value="3")
        label 4
            input(type="checkbox", value="4")
        label 5
            input(type="checkbox", value="5")
        label 6
            input(type="checkbox", value="6")
        label 7
            input(type="checkbox", value="7")
        label 8
            input(type="checkbox", value="8")
        label 9
            input(type="checkbox", value="9")
        label 10
            input(type="checkbox", value="10")
        label 11
            input(type="checkbox", value="11")
        button.play Play
        button.stop Stop

    script(src="index.js")
